*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtbXUxMy1ha2U1ODg2LWFrZS1sLmpwZw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";  
    font-size: 2vw, 2vh;
    font-weight: 200;

}

/* Making a two column display in the about me section */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

p {
    font-size: 16px;
    padding: 2%; 
    font-weight: 200;
}
.nav-bar {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    background-color: rgba(53, 53, 123, 0.753);
    opacity: 0.75;
    height: 80px;
    width: 100%;

}

div {
    background-color: lightgrey;
    opacity: 0.90;
    z-index: 1;
}

div.content_img {
    background-color: rgba(0,0,0,0);
}


div.about_me, div.experience {
    padding: 10px;
    margin-left: 100px;
    text-decoration: none;
}
label.name{
    color: aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul{
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: aliceblue;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active, a:hover{
    background: darkblue;
    transition: .5s;
}
.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;

}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;

}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-button-prev{
    position:absolute;
    z-index: 2;
    background:none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: #00BAFF;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: white;
    opacity: 0.5;
    left: 1rem;
}
.carousel-button-next{
    position:absolute;
    z-index: 2;
    background:none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: #00BAFF;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: white;
    opacity: 0.7;
    right: 1rem;
}
.carousel-button-prev:hover,
.carousel-button-prev:focus,
.carousel-button-next:hover,
.carousel-button-next:focus {
    color: blue;
    background-color:white;
    opacity: 0.9;
}

h1 {
    font-family: "Poppins";
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: darkblue;
    
}

table {
    width: 75%;
    height: 50%;
    font-size: 24px;
    text-align: right;
}

.accomplishments {
    list-style-type:none;
}

.send {
    background-color:darkblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
}

/* Making a hover effect in education section */

/* Parent Container */
.content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: center;
    margin-right: 10px;
}

/* Child Text Container */
.content_img div{
    position: relative;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    width: 800px;
    /* display: flex;
    justify-content: center; */
    
}

/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

/* Contact me */
.contact-me {
    box-sizing: border-box;
    font-family: 'Poppins';
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 16px; 
}
form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 80%;
    margin-bottom: 0.5rem;
    font-size: 30px;
    font-family: "poppins"
}

textarea {
    font-size: 30px;
    width: 80%;
    font-family: "poppins";
}

